.wrapper
  .side-bar
    .side-header
      .side-header__box
        %p.side-header__box__name
          = current_user.name
        %ul.side-header__box__lists
          %li.side-header__lists__new-group
            = link_to new_group_path do
              = fa_icon 'edit', class: 'icon'
          %li.side-header__lists__edit-user
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'

    .groups
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message

  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__current-group
          #{@group.name}
        .main-header__left-box__member-list
          Member : 
          .main-header__left-box__member-list__member
            -@group.users.each do |user|
              #{user.name}
      .main-header__edit-button
        = link_to "Edit", edit_group_path(@group)

    .messages
      = render @messages
      
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'